.pokeball-icon {
    --scale: 1;
    width: calc(32px * var(--scale));
    height: calc(32px * var(--scale));
    border-radius: 50%;
    position: relative;
    background: linear-gradient(to bottom, #e53935 50%, white 50%);
    border: calc(3px * var(--scale)) solid rgba(0, 0, 0, 1);
}

.pokeball-icon::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: calc(3px * var(--scale));
    background: rgba(0, 0, 0, 1);
    transform: translateY(-50%);
}

.pokeball-icon::after {
    content: '';
    position: absolute;
    width: calc(6px * var(--scale));
    height: calc(6px * var(--scale));
    background: white;
    border-radius: 50%;
    border: calc(3px * var(--scale)) solid rgba(0, 0, 0, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pokeball-medium {
    --scale: 2;
}

.pokeball-large {
    --scale: 2.5;
}